/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #ffeef6;
  --headline-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .main__title,
.theme-light .decorated-zone::after,
.theme-light .decorated-zone::before,
.theme-light .header__theme-menu-button {
  --accent-color: #353430;
}

.theme-light .header_rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;
    --headline-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
  }

  .main__title,
  .decorated-zone::after,
  .decorated-zone::before,
  .header__theme-menu-button {
    --accent-color: #353430;
  }

  .header_rec-indicator {
    display: none;
  }
}
