/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: var(--default-padding);
  inset-inline-start: var(--default-padding);
  inline-size: 24px;
  block-size: 24px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: var(--default-padding);
  inset-inline-end: var(--default-padding);
  inline-size: 24px;
  block-size: 24px;
}

.header_rec-indicator {
  position: absolute;
  top: var(--default-padding);
  right: calc(28px + var(--default-padding));
  color: var(--accent-color);
  font-size: inherit;
  text-transform: uppercase;
}

.header_rec-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  fill: var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__title {
  color: var(--headline-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--headline-font-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  justify-self: end;
  font-weight: var(--font-weight-bold);
  inline-size: clamp(355px, calc(346.41px + 2.29vw), 364px);
  block-size: min-content;
  white-space: pre-wrap;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  position: relative;
  border: none;
  padding: 0 13px 1.5px;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--accent-color) 40%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  inline-size: 100%;
  block-size: 1px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

/* MAIN */

.content-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--default-padding);
}

.content-block,
.article-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__title {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  line-height: 1.3;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  line-height: 1.3;
}

.article__text {
  color: var(--text-color);
  line-height: 1.3;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.normal-font-weight {
  font-weight: normal;
}

.gallery-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

/* FOOTER */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  color: var(--headline-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--headline-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA */
@media (width >= 768px) {
  .header__description {
    inline-size: clamp(364px, calc(49.61vw - 17px), 491px);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .content-section {
    gap: 80px;
    padding: 60px var(--default-padding);
  }

  .content-block:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
  }

  .content-block:nth-child(even) .main__title {
    inline-size: 236px;
  }

  .gallery-block .article {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-block:nth-child(odd) {
    gap: 10px;
  }

  .content-block:nth-child(even) .main__title {
    inline-size: 315px;
  }

  .content-block:nth-child(even) .article-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
